*
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Roboto;
        }
        body{
            background-color: #020f1c!important;
        }
        .navbar-brand{
            font-size: 2.25rem;
        }
        .nav-link
        {
            font-size: 1.3rem;
        }
        .navbar-nav
        {
            gap: 55px;
        }
        .intro
        {
            margin-bottom: 0rem;
            font-size: 90px;
            font-weight: 900;
            background: linear-gradient(to right,#ff5050, #0099ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .bg-dark
        {
            background-color: #020f1c!important;
        }
        .right-box
        {
            width: 55%;
        }
        .nav-link 
        {
            color: white !important ; 
        }

        /* for Loader  */
            .img            {
                border: 1px solid transparent;
                width:  49%;
            }
            hr{
                color: gray;
            }
            .content
            {
                border: 1px solid transparent;
                height: 500px;
                width: 635px;
            }
            .second-layer
            {
                margin-top: 50px;
                display: flex;
                padding: 20px;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                border: 1px solid transparent !important;
            }
            .content
            {
                padding: 10px;

            }
            .content h2
            {
                border-bottom: 5px solid white;
                width: 150px;
                padding: 0px 0px 0px 5px;
                color: white;
            }
            .content p{
                color: white;
                text-align: justify;
                font-size: 18px;
            }
            .btn
            {
                gap: 5px;
            }
            .btn .btn1
            {
                margin-top: 37px;
                width: 120px;
                height: 45px;
                font-weight: 900;
                font-size: 22px;
                border-radius: 50px;
                margin-right: 15px;
                color: #7a5454;
                border: 5px solid;
                background-color: black;
            }
            .btn .btn2
            {
                margin-top: 37px;
                color: #7a5454;
                font-size: 22px;
                font-weight: 900;
                height: 45px;
                border-radius: 50px;
                width: 176px;
                border: 5px solid;
                background-color: black;
            }
            .btn .btn1:hover
            {
                color: #6ff2e5;
            }
            .btn .btn2:hover
            {
                color: #6ff2e5;
            }
            .sec1
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .left-box
            {
                margin-right: 7%;
                margin-top: 2%;
            }
            .img img{
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 95%;
            }

            .skill h2
            {
                margin-top: 1.5rem;
                /* border-bottom: 5px solid white; */
                width: 160px;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 43px;
                font-weight: 900;
            }
            .skill div{
                /* border: 1px solid gray !important; */
                width: 100%;
                height: auto;
            }
            .projects h2
            {
                margin-top: 1.5rem;
                /* border-bottom: 5px solid white; */
                width: 230px;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 40px;
            }
            .projects p
            {
                margin-top: 1.5rem;
                text-align: center;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
            }
            .projects .plist{
                width: 100%;
                height: auto !important;
                gap: 10px;
                padding: 10px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                align-items: center;
            }
            .p1, .p3
            {   
                /* border: 1px solid gray; */
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            .p1 img{
                border: 2px solid;
            }
            .p3 img{
                border: 2px solid;
            }
            .p1, .p3 {
                position: relative;
                width: 50%;
              }
              
              .image {
                display: block;
                width: 100%;
                height: auto;
              }
              
              .imgText {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background: rgb(0,0,0,0.6);
              }
              
              .p1:hover .imgText {
                opacity: 5;
                /* filter: blur(8px); */
              }
              .p3:hover .imgText {
                opacity: 5;
              }
              
              .text {
                color: white;
                font-size: 2.5rem !important;
                position: absolute;
                top: 40%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
              }
              .text a
              {
                color: white;
                text-decoration: none;
              }
            .exp h2
            {
                margin-top: 1.5rem;
                /* border-bottom: 5px solid white; */
                width: 310px;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 40px;
            }
            .exp p
            {
                margin-top: 1.5rem;
                text-align: center;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
            }
            .exp-content
            {
                border: 1px solid gray;
                width: 100%;
                height: 350px;
            }

            .contact h2
            {
                margin-top: 1.5rem;
                /* border-bottom: 5px solid white; */
                width: 223px;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 40px;
            }
            .contact p
            {
                margin-top: 1.5rem;
                text-align: center;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
            }
            .contact-meta
            {
                border: 1px solid gray;
                width: 100%;
                padding: 5px;
            }
            footer
            {
                /* border: 1px solid gray; */
                margin-top: 100px;
                display: flex;
                padding: 10px;
                justify-content: center;
                background-color: #110f0f;
            }
            footer h3{
                font-size: 1rem;
                color: white;
            }
            footer h3 a{
                text-decoration: none;
            }
            .skill-section
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2rem;
            }
            .be, .Fe
            {
                width: 47% !important;
                padding: 13px !important;
                border: 5px solid #6ff2e5 !important;
            }
            .Fe .bar{
                border: none !important;
            }
            .be .bar{
                border: none !important;
            }
            .html, .bootstrap, .css,.javascript
            {
                
                height: 10px;
                border-radius: 25px;
            }
            .lang
            {
                border: 1px solid red !important; height: 16px;
            }
            p{
                color: white;
                margin-bottom: .25rem;
                margin-left: 8px;
                font-weight: 900;
                font-size: 21px;
            }
            .progress
            {
                height: 90%; width: 85%;
            }
            .bar #lable
            {
                border: none !important;
                display: flex;
                justify-content: space-between;
            }
            .container
            {
                margin-top: 4rem;
            }
            .exp-content ul li
            {
                font-size: xx-large;
                color: white;
                list-style: none;
            }
            .ps{
                margin-top: 1.5rem;
                width: 230px;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 40px;
            }

            .proskills
            {
                /* border: 1px solid gray; */
                width: 100%;
                height: auto !important;
                gap: 10px;
                padding: 10px;
                display: flex;
                flex-wrap: nowrap;
            }

            .proskills
            {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .proskills h2
            {
                margin-top: 1.5rem;
                width: 370px;
                padding: 0px 0px 0px 5px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                font-size: 43px;
                font-weight: 900;
            }
            .pskill
            {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                flex-wrap: nowrap;
            }
            /* Media Queries  */
            @media only screen and (max-width: 1007px) {
                .intro {
                  font-size: 55px;
                }
                .second-layer
                {
                    display: flex;
                    justify-content: space-around;
                }
                .second-layer .content{
                    width: 100%;
                }
              }
              @media only screen and (max-width: 490px) {
                .intro {
                  font-size: 50px;
                }
                .second-layer
                {
                    display: flex;
                    justify-content: space-around;
                }
                .second-layer .content{
                    width: 100%;
                }
              }
              @media only screen and (max-width: 980px) {
                .p1, .p2, .p3
                {
                    width: 72%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .plist{
                    display: flex;
                }
              }
              @media only screen and (max-width: 1396px) {
                .p1, .p2, .p3
                {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .plist{
                    display: flex;
                }
              }
              @media only screen and (max-width: 1401px) {
                .intro {
                  font-size: 80px;
                }
                .second-layer
                {
                    display: flex;
                    justify-content: space-around;
                }
                .second-layer .content{
                    width: 100%;
                }
              }